# <p style="background-color:#000000;font-family:verdana;color:white;font-size:100%;text-align:center;border-radius:10px 10px;letter-spacing:0.5px;padding: 10px">PIPELINE WITH MODEL TRAINING</p>

In [22]:
import pandas as pd
import numpy as np
import pickle

from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report, confusion_matrix
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.pipeline import make_pipeline

In [23]:
df = pd.read_csv("Transformed_files/clustered_subset.csv")

In [24]:
df.head()

    Income  Kidhome  Teenhome  Age Partner Education_Level  Clusters
0  58138.0        0         0   57      No        Graduate         1
1  46344.0        1         1   60      No        Graduate         1
2  71613.0        0         0   49     Yes        Graduate         3
3  26646.0        1         0   30     Yes        Graduate         0
4  58293.0        1         0   33     Yes    Postgraduate         3

In [25]:
X = df.drop('Clusters', axis=1)
y = df['Clusters']

In [26]:
X_train, X_test, y_train, y_test = train_test_split(X , y , test_size=0.3, random_state=42)

In [27]:
transformer = pickle.load(open('transformer.pkl','rb'))

In [28]:
final_pipeline = make_pipeline(transformer, GradientBoostingClassifier())

In [29]:
final_pipeline.fit(X_train, y_train)

Pipeline(steps=[('columntransformer',
                 ColumnTransformer(transformers=[('num',
                                                  Pipeline(steps=[('standardscaler',
                                                                   StandardScaler())]),
                                                  ['Income', 'Age']),
                                                 ('ordinal',
                                                  Pipeline(steps=[('ordinalencoder',
                                                                   OrdinalEncoder(categories=[['Undergraduate',
                                                                                               'Graduate',
                                                                                               'Postgraduate']]))]),
                                                  ['Education_Level']),
                                                 ('nominal',
                                                  Pipeline(steps=[('onehotencoder',
                                                                   OneHotEncoder())]),
                                                  ['Partner'])])),
                ('gradientboostingclassifier', GradientBoostingClassifier())])

 <p style="background-color:#273345;font-family:verdana;color:white;font-size:100%;text-align:left;border-radius:10px 10px;letter-spacing:0.5px;padding: 10px">Above is the diagram with all the steps in our pipeline</p>

In [30]:
final_pipeline.score(X_test, y_test)

0.9729323308270676

In [31]:
filename = 'final_pipeline.pkl'
pickle.dump(final_pipeline, open(filename,'wb'))